<div width="800px">
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Upload image of some face</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="urlSelfie" alt='' class='' (click)="selfie.click()">
        <mat-card-content>
          <input #selfie id="selfie" type="file" accept="image/*" [hidden]="true" name="selfie" (change)="selectFile($event)">
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="selfie.click()">OPEN</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Upload image of the ID document front</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="urlIdDocFront" alt='' class='' (click)="idDocFront.click()">
        <mat-card-content>
          <input #idDocFront id="idDocFront" type="file" accept="image/*" [hidden]="true" name="idDocFront" (change)="selectFile($event)">
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="idDocFront.click()">OPEN</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Upload of the ID document back</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="urlIdDocBack" alt='' class='' (click)="idDocBack.click()">
        <mat-card-content>
          <input #idDocBack id="idDocBack" type="file" accept="image/*" [hidden]="true" name="idDocBack" (change)="selectFile($event)">
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="idDocBack.click()">OPEN</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card>
    <mat-card-content>
      <button mat-button [disabled]="uploadAllDisabled()" (click)="upload()">UPLOAD ALL</button>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="imageComparisonWebInfo != undefined">
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Face detection</h3>
        <mat-list-item> Face detected: {{imageComparisonWebInfo.faceDetected? 'TRUE' : 'FALSE'}}</mat-list-item>
        <mat-list-item [visible]="imageComparisonWebInfo.faceDetected"> Joy: {{imageComparisonWebInfo.joy}}</mat-list-item>
        <mat-list-item [visible]="imageComparisonWebInfo.faceDetected"> Surprise: {{imageComparisonWebInfo.surprise}}</mat-list-item>
        <mat-list-item [visible]="imageComparisonWebInfo.faceDetected"> Angry: {{imageComparisonWebInfo.anger}}</mat-list-item>
        <mat-list-item [visible]="imageComparisonWebInfo.faceDetected"> Sorrow: {{imageComparisonWebInfo.sorrow}}</mat-list-item>
        <mat-list-item [visible]="imageComparisonWebInfo.idFrontDocumentDetected">
          Front id doc detected: {{imageComparisonWebInfo.idFrontDocumentDetected? 'TRUE' : 'FALSE'}} with score: {{imageComparisonWebInfo.idFrontDocumentScore}}
        </mat-list-item>
        <mat-list-item [visible]="imageComparisonWebInfo.idBackDocumentDetected">
          Back id doc detected: {{imageComparisonWebInfo.idBackDocumentDetected? 'TRUE' : 'FALSE'}} with score: {{imageComparisonWebInfo.idBackDocumentScore}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Face comparison</h3>
        <mat-list-item [visible]="imageComparisonWebInfo.faceComparisonResult">
          Faces matches: {{imageComparisonWebInfo.faceComparisonResult? 'TRUE' : 'FALSE'}} with score...: {{imageComparisonWebInfo.faceScore}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Machine readable zone</h3>
        <mat-list-item *ngFor='let mrzProp of imageComparisonWebInfo.mrz.split(",")'> {{mrzProp}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


</div>


